<div class="form-m-criterios mt-4">
    <h4 class="text-white">Búsqueda</h4>

    <div class="text-white d-none">
        <mat-checkbox color="primary" [(ngModel)]="filtrarFecha">Por rango de fechas</mat-checkbox>
        <!-- <label>
            <input id="EsFechaEspecifica" name="EsFechaEspecifica" type="checkbox" value="true"><span class="checkbox-material"><span class="check"></span></span><input name="EsFechaEspecifica" type="hidden" value="false"> 
        </label> -->

        <div *ngIf="filtrarFecha" class="row">
            <mat-form-field class="col-6 text-white">
                <mat-label class="text-white">Fecha inicial</mat-label>
                <input matInput type="date" name="FechaInicial">
            </mat-form-field>
            <mat-form-field class="col-6 color-light">
                <mat-label class="text-white">Fecha final</mat-label>
                <input matInput type="date" name="fechaFinal">
            </mat-form-field>
        </div>
    </div>

    <button mat-raised-button color="primary" class="btn btn-block" (click)="getHistoriaClinicaAfiliado()" [disabled]="idAfil == 0">Buscar</button>
</div>



<mat-tab-group>
    <mat-tab labelClass="text-light mat-tab-icon" bodyClass="h-tab-body">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">assignment_turned_in</mat-icon>
      </ng-template>
        <div class="content-list text-light mt-2">
            <mat-progress-bar *ngIf="cargandoHistoriaClinicaAfil" mode="indeterminate"></mat-progress-bar>
            <div class="item-list" *ngFor="let hc of historiaClinica" (click)="buscarFormulario(hc.nU_IDFORMULARIO_HC, hc.nU_IDHISTORIACLINICA_HC)">
                <div class="item-head">{{hc.fE_FECHA_HC}}</div>
                <div class="item-body">
                    <p><span style="font-weight: 500">({{hc.nU_IDHISTORIACLINICA_HC}})</span> {{tituloFormHistoriaClinica(hc.nU_IDFORMULARIO_HC)}}</p>
                    <p><span style="font-weight: 500">Especialidad: </span> MEDICINA GENERAL</p>
                </div>
            </div>
        </div>
    </mat-tab>
  
    <mat-tab labelClass="text-light mat-tab-icon">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">assignment_late</mat-icon>
        </ng-template>

        <div class="box-dark content-m-criterios mt-4" *ngIf="idAfil">
            <div class="tab-content criterios-list">
                <div id="menu2" role="tabpanel" class="tab-pane active in">
                    <div id="pendientes-content" class="content-list">
                        <div class="item-list">
                            <div class="box-search">
                                formato
                                <span>{{title}}</span>
                                <button mat-button (click)="openDialog()">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
  

