.contenido {
    display: grid;
    grid-template-rows: 49% 49%;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 10px;
}

.list {
    overflow: auto;
}

/* .seleccion {
    grid-row: 1/3;
    grid-column: 3/4;
} */

.ov {
    overflow: auto;
}

.stick {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

.arbol {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    overflow: auto;
}