.main-panel {
    height: 100%;
}

.visor-hc {
    height: 100%;
    margin-left: 50px;
    padding: 15px;
    
    transition: all .5s ease-out;
}

#iframe-visor {
    resize: vertical;
}

.visor-hc.sidebar-open {
    margin-left: 360px;
}

.mat-tab-group {
    height: 100%;
}

.mat-tab {
    height: 100%;
}

.mat-tab-body-wrapper {
    height: 100%;
}

.blur {
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(1px);
    z-index: 1;
    opacity: 0.4;
    transition: opacity .5 ease-out;
}