
<div class="main-panel">
    <app-header></app-header>
    <mat-card style="height: 100%;">
        <div class="blur" *ngIf="cargando"></div>

        <div class="botones d-flex position-absolute" style="right: 0;">
            <button mat-button (click)="guardarHistoriaClinica()">
                <mat-icon>save</mat-icon>
            </button>
        </div>

        <ul class="nav nav-tabs mb-3" id="formatos-tab" role="tablist" style="height: 38px;">
            <li class="nav-item active" role="presentation">
              <a class="nav-link" id="formatos-atencion-tab" data-toggle="pill" href="#formatos-atencion" role="tab" aria-controls="formatos-atencion" aria-selected="true">Formato de atención</a>
            </li>

            <!-- Tab órdenes médicas -->
            <li class="nav-item" role="presentation" *ngIf="revisarDocumentoAsociado(1)">
              <a class="nav-link" id="formatos-ordMed-tab" data-toggle="pill" href="#formatos-ordMed" role="tab" aria-controls="formatos-ordMed">Órdenes médicas</a>
            </li>

            <!-- Tab indicaciones de manejo -->
            <li class="nav-item" role="presentation" *ngIf="revisarDocumentoAsociado(2)">
              <a class="nav-link" id="formatos-indManejo-tab" data-toggle="pill" href="#formatos-indManejo" role="tab" aria-controls="formatos-indManejo">Indicaciones de manejo</a>
            </li>

            <!-- Tab incapacidades -->
            <li class="nav-item" role="presentation" *ngIf="revisarDocumentoAsociado(3)">
              <a class="nav-link" id="formatos-incapacidades-tab" data-toggle="pill" href="#formatos-incapacidades" role="tab" aria-controls="formatos-incapacidades">Incapacidades</a>
            </li>

            <!-- Tab consentimientos informados -->
            <li class="nav-item" role="presentation" *ngIf="revisarDocumentoAsociado(4)">
              <a class="nav-link" id="formatos-consInf-tab" data-toggle="pill" href="#formatos-consInf" role="tab" aria-controls="formatos-consInf">Consentimientos informados</a>
            </li>
        </ul>

        <div class="tab-content" id="formatos-tabContent" style="height: calc(100% - 54px)">
            <div class="tab-pane fade h-100 show active" id="formatos-atencion" role="tabpanel" aria-labelledby="formatos-atencion-tab">
                <iframe id="iframe-visor" width="100%" height="100%" frameborder="0" #editor></iframe>
            </div>

            <!-- Ordenes médicas -->
            <div *ngIf="revisarDocumentoAsociado(1)" class="tab-pane fade h-100 overflow-auto" id="formatos-ordMed" role="tabpanel" aria-labelledby="formatos-ordMed-tab">
                <app-ordenes-medicas [lectura]="lectura" [informacion]="informacionDiligenciada(ID_ORDENESMEDICAS)"></app-ordenes-medicas>
            </div>
            
            <!-- Indicaciones de manejo -->
            <div *ngIf="revisarDocumentoAsociado(2)" class="tab-pane fade h-100 overflow-auto" id="formatos-indManejo" role="tabpanel" aria-labelledby="formatos-indManejo-tab">
                <div [ngxSummernote]="config" id="editor-indManejo" *ngIf="!lectura"></div>
                <div [ngxSummernoteView]="indicacionesManejoDiligenciada" *ngIf="lectura"></div>
            </div>
            
            <!-- Incapacidades -->
            <div *ngIf="revisarDocumentoAsociado(3)" class="tab-pane fade h-100 overflow-auto" id="formatos-incapacidades" role="tabpanel" aria-labelledby="formatos-incapacidades-tab">
                <app-incapacidades [lectura]="lectura" [informacion]="informacionDiligenciada(ID_INCAPACIDADES)"></app-incapacidades>
            </div>
            
            <!-- Consentimientos informados -->
            <div *ngIf="revisarDocumentoAsociado(4)" class="tab-pane fade h-100 overflow-auto" id="formatos-consInf" role="tabpanel" aria-labelledby="formatos-consInf-tab">
                <app-consentimientos-informados [lectura]="lectura"></app-consentimientos-informados>
            </div>
        </div>
          
        <mat-tab-group *ngIf="false">
            
            <mat-tab label="Formato atención" bodyClass="mat-tab" *ngIf="true">
                <!-- <iframe id="iframe-visor" width="100%" frameborder="1" #editor></iframe> -->
                <!-- <mat-card-title>{{title}}</mat-card-title> -->
                
            </mat-tab>
            
            <mat-tab label="Ordenes médicas" *ngIf="true">
                <app-ordenes-medicas></app-ordenes-medicas>
            </mat-tab>

            <mat-tab label="Indicaciones de manejo" *ngIf="true">
                <div>
                    <div [ngxSummernote]="config"></div>
                </div>
            </mat-tab>

            <mat-tab label="Incapacidades" *ngIf="true">
                <app-incapacidades></app-incapacidades>
            </mat-tab>

            <mat-tab label="Consentimiento informados">
                <app-consentimientos-informados></app-consentimientos-informados>
            </mat-tab>

            <!-- REvisión de documentos externos -->
            <mat-tab label="Primer documento" *ngIf="revisarDocumentoAsociado(1)">primer documento</mat-tab>
            <mat-tab label="Segundo documento" *ngIf="revisarDocumentoAsociado(2)">Segundo documento</mat-tab>

        </mat-tab-group>
        <mat-card-footer>
            <mat-progress-bar *ngIf="cargando" mode='indeterminate'></mat-progress-bar>
        </mat-card-footer>
        
    </mat-card>
</div>

<!--*** NOTIFICACIONES ***-->
<swal
  #errorSwal
  title="Error al guardar"
  icon="error"
>
</swal>

<swal
  #swalFinalizado
  title="Se ha guardado la historia clínica"
  icon="success"
>
</swal>