<div class="chip flotante_perfil {{open}}">
    <button  (click)="!open ? open = 'open' : open = ''"
    class="btn_perfil" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="http://181.129.245.90:90/HIMSSALUDAFQ/images/gestionpacientes/perfil.jpg" alt="Contact Person">
    </button>
    <ul class="dropdown-menu drop-perfil flipInX" aria-labelledby="dropdownMenu1">
        <li class="cat"><span>NOMBRE</span></li>
        <li>
            <span>FSDFS FSDF ASDA DFSD</span>
        </li>
        <li class="divider"></li>
        <li class="cat"><span>PERFIL</span></li>
        <li>
            <span>ADMINISTRADOR NACIONAL</span>
        </li>
        <li class="cat"><span>LUGAR DE ATENCIÓN</span></li>
        <li>
            <span>AREA SALUD-AREA SALUD-SEDE BOGOTA</span>
        </li>
        <li class="divider"></li>
        <li><a class="btn btn-info btn-raised btn-block" href="/HIMSSALUDAFQ/Seguridad/LogOut">Cerrar Sesión</a></li>
    </ul>
</div>