/* You can add global styles to this file, and also import other style files */
@import "./assets/css/deeppurple-amber.css";
/* @import "./example.css"; */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("assets/img/fondo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}
*::-webkit-scrollbar {
    width: 9px;
    height: 8px;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(3,169,244,.8);
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: transparent;
    visibility: hidden;
}

/* Globales */
.icono-ayuda{
    color: rgba(31, 115, 182, .8);
    font-size: 1rem !important;
    vertical-align: top !important;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

/* .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: rgba(3,169,244,.8);
}


.mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(3,169,244,.8);
} */