/* You can add global styles to this file, and also import other style files */
/* @import "./assets/css/deeppurple-amber.css"; */
/* @import "./example.css"; */
/* @import "./example.scss"; */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /* background-image: url("src\app\images\bg_login.jpg"); */
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
  
    overflow-y: hidden;
  
    margin: 0;
    font-family: 'Poppins','Helvetica','Arial',sans-serif;
}

*::-webkit-scrollbar {
    width: 9px;
    height: 8px;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(3,169,244,.8);
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: transparent;
    visibility: hidden;
}

/* Globales */
.icono-ayuda{
    color: rgba(31, 115, 182, .8);
    font-size: 1rem !important;
    vertical-align: top !important;
}

/* a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
} */

.contenedor {
    width: 95%;
    margin: auto;
}

.contenido {
    padding: .8em;
    height: calc(100vh - 180px);
    background-color: white;
}